@import 'quilon.css';
@import 'callingcoderegular.css';
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

.radio-canada-big-normal {
	font-family: "Radio Canada Big", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: "Radio Canada Big";
	background-color: #e6ddef;
	color: rgb(54, 24, 42);
}

a {
	color: #ed5a15;
}

a:visited {
	color: #ed5a15;
}

.site-nav .page-link {
	color: #ed5a15;
}

.highlighter-rouge .highlight {
	background: #e9e6e2;
	border-radius: 10px;
	box-shadow: 3px 5px 3px #9469b7;

	.k,
	.kd,
	.nf {
		font-weight: 200;
	}
}

.site-title:visited {
	color: inherit;
}

.site-header,
.site-footer {
	border: none;
}

.site-title,
.page-heading,
.post-link,
.page-link,
.post-title,
h1,
h2,
h3 {
	font-family: "Quilon-Medium";
	color: #9469b7;
}

.post-meta {
	background-color: #9469b7;
	color: #f8f5ed;
	border-radius: 4px;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	font-family: "CallingCodeRegular";
}

code {
	font-family: "CallingCodeRegular";
	background: none;
}

p {
	color: #733c9f;
	transition: 1s;
}

p:hover {
	color: rgb(54, 24, 42);
}

p img {
	border-radius: 10px;
	box-shadow: 3px 5px 3px #9469b7;
	height: auto;
	width: auto;
	transition: 1s;
	margin-top: 5px;
	margin-bottom: 5px;
	max-width: 90%;
	margin-right: 10%;
	background: whitesmoke;
}

p:hover img {
	box-shadow: 0 0 0 #9469b700;
}